<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>week13</display-name>
<!--   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
    
  </welcome-file-list> -->
  
  <servlet>
    	<servlet-name>SimpleController</servlet-name>
    	<servlet-class>week13.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>SimpleController</servlet-name>
    	<url-pattern>/simple</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
    	<servlet-name>ControllerUsingFile</servlet-name>
    	<servlet-class>week13.ControllerUsingFile</servlet-class>
    	<init-param>
    		<param-name>configFile</param-name>
    		<param-value>/WEB-INF/commandHandler.properties</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>ControllerUsingFile</servlet-name>
    	<url-pattern>/controllerUsingFile</url-pattern>	
    </servlet-mapping>
    
</web-app>